[Unit]
Description=pwm fan control

[Service]
ExecStart=/usr/local/bin/pwm_fan_control
Restart=on-failure
RestartSec=10s
Type=simple

[Install]
Also=pigpiod.service
WantedBy=multi-user.target
